# /etc/otelcol-contrib/otelcol.env
# Managed by Ansible (otel_collector role)
# Loaded by systemd as an EnvironmentFile
OTELCOL_OPTIONS=--config /etc/otelcol-contrib/config.yaml
CLICKHOUSE_PASSWORD={{ vault_clickhouse_otel_password }}
